/*#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}*/


#circle {
    border:thin solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#knob{
	position: absolute;
	border: thin solid red;
	border-radius: 50%;
	height:10px;
	width:10px;
    top:10%;
    left:2%;    
}